body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #cc0000;
    color: white;
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    background: rgb(31, 179, 105);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.project {
    background: #e9e9e9;
    padding: 10px;
    margin-top: 10px;
}

footer {
    background-color: #4e3e10;
    color: white;
    text-align: center;
    padding: 10px;
}